@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="callout callout-danger">
    <h4>Error 404</h4>
    <p>
        It seems that an error has occured ! 
    </p>
</div>

