

<div style="display: flex;
	justify-content: space-around;
	align-items: center;
    flex-wrap: wrap;">
    <div>
        <img style="-webkit-user-select: none;" src="http://localhost:2154/A/RByCountry">

    </div>
    <div>
        <img style="-webkit-user-select: none;" src="http://localhost:2154/A/PigisteVsEmployee">
    </div>

    <div>
        <img style="-webkit-user-select: none;" src="http://localhost:2154/A/mandVsInter">
    </div>
</div>
