
@model Presentation.Models.TestVm

<div class="media bg-white">
    <a class="avatar avatar-lg status-success" href="#">
        <img />
    </a>
    <div class="media-body">
        <a href="#">
            <strong>@Model.name</strong>
        </a>
        <small class="sidetitle">
            @Model.specialty
        </small>
        <div>
            <p>Defficulty : @Model.difficulty</p>
            <p>Time : 20minute</p>
        </div>
        <nav class="nav mt-2">
                <i class="icon-clock" style="color:black">@Model.dateOfPassing</i> 
        </nav>
        <div>
             <label>Passed !</label>
             <i class="icon-ok-circled" style="color:green"></i>
        </div>
    </div>
</div>