@model IEnumerable<Presentation.Models.ApplicantVm>
@{
    ViewBag.Title = "Applicants";
}

<h2>Index</h2>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            @Html.Partial("_DisplayApplicant", item);
        }
    }