@{
    ViewBag.Title = "Home Page";
}

<div class="box">
    <div class="box-header with-border">
        <h3 class="text-success">Welcome in Levio dashboard</h3>
    </div>
    <div class="box-body">
        <p style="font-size:20px">
            Levio, nous nous spécialisons dans l'accompagnement lors de la mise en oeuvre de programmes ou de projets d'envergure. Notre force est notre vision axée sur l'atteinte des bénéfices attendus. Notre levier est la capacité des clients à opérationnaliser les changements sur le terrain.
        </p>
    </div>
    <div class="box-header with-border">
        <h3 class="text-success">Qui sommes nous ?</h3>
    </div>
    <div class="box-body">
        <p style="font-size:20px">
            Dès les débuts de Levio, nous avons décidé de bâtir nos fondations sur notre principale richesse, une équipe de conseillers hors pair. En effet, notre réputation sur le marché est le résultat de la personnalité des hommes et femmes qui composent notre équipe, de leur engagement et de leur expertise exceptionnelle.

            La force motrice de notre organisation est notre désir de livrer des solutions prenant avantage des nouvelles technologies pour aider nos clients à gagner en efficacité et en rentabilité.

        </p>
    </div>
    <div class="box-header with-border">
        <h3 class="text-success">Notre mission</h3>
    </div>
    <div class="box-body">
        <p style="font-size:20px">
            Être un partenaire de premier plan pour ajouter de la valeur d’affaires chez nos clients, en capitalisant sur notre expérience, notre savoir-faire et les nouvelles technologies, par la créativité et la mobilisation de nos conseillers
        </p>
    </div>
    <div class="box-footer">
        <a href="https://www.levio.ca/" class="text-primary">Notre Site officielle</a>
    </div>
</div>